* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fix thanh ngang */
body {
  overflow-x: hidden;
  width: 100%; /* Đảm bảo body không bị co lại dưới 100% */
}

/*  */
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.hidden {
    display: none;
}
.row {
    display: flex;
    flex-direction: row;
}
/* form đăng kí */
.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 10px 10px 0;
}

#header {
    height: 50px;
    background-color: #10141B;
    position: fixed;
    display: flex;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    align-items: center;
    justify-content: center;

}

/* LOGO */
.nav-logo .name {
    color: #fff;
    display: none;
    margin: auto;
    font-size: 13px;
}

.nav-logo {
    height: 40px;
    min-width: 100px;
    display: flex;

}

.nav-logo img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}


/* Design: Button register, login, out */
.nav-layout button {
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #10141B;
    border-radius: 30px;
    border: 2px solid #fff;
}
.nav-layout .btn-login {
    background-color: #F75154;
    border: 1px solid #F75154;
    transition: transform 0.3s;
}
.nav-layout button:hover {
    cursor: pointer;
    /* transform: translateY(-2px); */
}

/* LOGIN */
@keyframes modelFadeIn {
    from {
        opacity: 1;
        transform: translateY(-140px);
    }

    to {
        transform: translateY(0);
    }
}
.btn-login.remove{
    display: none;
}
.login.open {
    display: flex;
}
.login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}
.login-container {
    background-color: #10141B;
    width: 450px;
    position: relative;
    animation: modelFadeIn ease 0.5s;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-header {
    color: #fff;
    float: right;
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.login-close {
    cursor: pointer;
}
.login-body {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    flex: 2;
}
.login-body input {
    height: 50px;
    background-color: #10141B;
    border: 1px solid #1E293B;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    color: #fff;
}
.login-body p {
    display: flex;
    margin: 15px 0;
    color: #E54242;
    justify-content: end;
    cursor: pointer;
}
.login-body p:hover {
    text-decoration: underline;
}
.login-body button {
    background-image: linear-gradient(to right, #E6121D, #FB5F60);
    height: 40px;
    border-radius: 20px;
    margin: 10px 0;
    color: #fff;
    cursor: pointer;
}
.login-footer {
    color: #fff;
    flex: 2;
    display: flex;
    justify-content: center;
}

.login-footer a {
    color: #E54242;
    text-decoration: none;
}

/* Đăng kí */
.btn-register.remove{
    display: none;
}
.register.open {
    display: flex;
}

.register {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* làm cho đăng kí đăng nhập ko đè lên nhau */
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}

.register-container {
    background-color: #10141B;
    width: 500px;
    height: 550px;
    position: relative;
    animation: modelFadeIn ease 0.5s;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-header {
    color: #fff;
    float: right;
    display: flex;
    justify-content: space-between;
}

.register-close {
    cursor: pointer;
}

.register-body {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    flex: 2;
}

.register-body input {
    height: 50px;
    background-color: #10141B;
    border: 1px solid #1E293B;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: #fff;
}

.register-body .register-card1 {
    display: flex;
    flex-direction: row;

}

.register-body .register-card2 {
    display: flex;
    flex-direction: row;

}

.register-body .register-card3 {
    display: flex;
    flex-direction: row;
}

.register-body .register-card4 {
    display: flex;
    flex-direction: row;
}


.register-body button {
    background-image: linear-gradient(to right, #E6121D, #FB5F60);
    height: 40px;
    border-radius: 20px;
    margin: 10px 0;
    color: #fff;
    cursor: pointer;
}

.register-footer {
    color: #fff;
    flex: 2;
    display: flex;
    justify-content: center;
}

.register-footer a {
    color: #E54242;
    text-decoration: none;
}

/* login user */
.login-user.open{
    display: flex;
}
.login-user{
    display: none;
}

.login-user .login-avt{
    font-size: 30px;
    color: #fff;
}

.login-user .login-name{
    color: #fff;
    font-size: 15px;
    margin: 10px;
}

/* slide */
#slide {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    transition: transform 0.5s
}

#slide img {
    width: 100%;
    object-fit: cover;
    animation: fadeInSlideshow 1s;
}

@keyframes fadeInSlideshow {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 1;
    }
}

#slide .slide-btn:hover {
    background-color: #F75154;

}

#slide .slide-btn-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}

#slide .slide-btn-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px 0 0 50px;
    cursor: pointer;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #10141b; */
    background-color: #fff;
}
.section {
    /* background-color: #10141b; */
    background-color: #fff;
    padding-top: 20px;
}
#container {
    height: auto;
}
.col {
    padding: 15px;
}

/* FOOTER */
/* .footer ul li {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0px;
} */

.footer a {/* text footer */
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
}
.footer a:hover {
    color: black;
}
.cinema-info p {
    padding: 10px;
}
.movie-type .nav-link {
    color: #1A1D23;
}
.footer-logo img,
.footer-logo p {
    margin-left: 50px;
}

/* PRICE */
